.Layout nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: rgb(198, 23, 23);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}