.Event{
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  width: 550px;
  margin: 20px;
  background-color: rgb(50, 47, 47);
  color: rgb(230, 230, 230);
}

.EventHeader{
  background-color: rgb(198, 23, 23);
  height: 40px;
  padding: 5px;
  color: white;
  font-size: 25px;
  border-radius: 5px 5px 0px 0px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
}

img{
  width: 500px;
}

.EventIMG{
  text-align: center;
  margin: 10px;
}

.EventButtons{
  padding: 5px;
  text-align: right;
}

.EventInfo{
  font-size: 18px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: rgb(230, 230, 230);
}

.EventDetails{
  padding: 20px;
  font-size: 18px;
}

.EventButton{
  margin: 10px 5px 5px 5px;
  background-color: rgb(198, 23, 23);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.EventButton:hover{
  background-color: rgb(253, 87, 87);
  font-weight: bold;
}

.BuyButton{
  border-radius: 5px;
  border-width: 0px;
  color: red;
  font-size: 15px;
  font-weight: bold;
  background-color: yellow;
}

.BuyButton:hover{
  font-size: 16px;;
}